@font-face {
    font-family: Readex_Pro;
    src: url(../fonts/ReadexPro-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
    background-color: #f49880;
    background-image: linear-gradient(to right, #01bfbf, #01bfbf 20px, #f49880 20px, #f49880);
    background-size: 40px 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    padding-top: 15px;  
}

.card {
    flex: 0 0 400px;
    max-width: 225px;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
    margin: 3px;
  }
.card header {
    font-size: 20px;
    font-weight: bold;
}
.card img {
    max-width: 200px;
}

#flagship_project {
    max-width: 475px;
    width: auto;
}
#flagship_project img {
    max-width: 440px;
    width: auto;
}

#projects {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

sidebar {
    /* background-color: red; */
    padding: 5px;
    max-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    flex: 1;
}

#sidebar_pic {
    max-width: 100px;
    height: auto;
}

#sidebar_links {
    list-style: none;
    padding-left: 0;
}

#sidebar_links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

right_panel {
    flex: 4;
    background-color: white;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    font-family: Readex_Pro;
    background-color: #EDEDED;
    max-width: 700px;
    margin:auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
}

#footer {
    text-align: center;
}

@media screen and (max-width: 700px) {
    main, sidebar {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        align-items:center;
    }
    h1 {
        text-align: center;
    }
    #flagship_project {
        max-width: 225px;
    }
    #flagship_project img {
        max-width: 200px;
    }
}